
@{
    ViewBag.Title = "Stades View";
}

<h2>You're here to see the stades List ?</h2>

<body>
    <div class="container" id="yourStades">
        <h1> Stades : </h1>
        <ul id="available_stades" class="list-group">
            @for (int i = 0, j = 0; i < @ViewBag.Length; i++)
            {
                <li class="list-group-item">
                    <div class="row">
                        <p class="col-sm-2">@ViewBag.Stades[i].Nom</p>  <button class="deletebutton btn btn-danger col-sm-1 col-lg-offset-6"> Delete</button> <button class="modifystade btn btn-warning col-sm-1 col-lg-offset-1"> Modify</button>
                    </div>
                    <div id="@ViewBag.Stades[i].Nom" class="container">
                        <ul class="list-group">
                            <li class="list-group-item"> Nombre de places    : @ViewBag.Stades[i].NbPlaces </li>

                        </ul>

                    </div>
                </li>
            }
        </ul>
    </div>
    <div id="newstade">
        <form id="stadeForm">
            <div class="form-group">
                <label>Stade Name</label>
                <input type="text" class="form-control" id="stadeName" aria-describedby="nameHelp" placeholder="Enter Stadium Name" />
                <small id="nameHelp" class="form-text text-muted">Choose a name to your stadium !</small>
            </div>
            <div class="form-group">
                <label>Number :</label>
                <input type="text" class="form-control" id="stadeNbPlaces" placeholder="Number of sits" />
            </div>
        </form>
        <button id="submitNewStade" class="btn btn-primary">Submit </button>
    </div>

            <button id="addnewstade" class="btn btn-success"> Add Stade</button>
            <br />
            <br />
</body>
<script src="~/Scripts/jquery-1.10.2.js"></script>
    
<script type="text/javascript">
    $('#newstade').hide();

    $(document).ready(function () {
        $('#addnewstade').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("AddStade","Stade")',
                success: function (data) {
                    li = $("<li class='list-group-item'>");
                    div = $("<div class='row'>");
                    div.append("<p class='col-sm-1'>" + data["Nom"] + "</p>" + "<button class='deletebutton btn btn btn-danger col-sm-1 col-lg-offset-7' >Delete</button> <button class='modifystade btn btn-warning col-sm-1 col-lg-offset-1' > Modify</button");
                    div2 = $("<div class='container'>");
                    ul2 = $("<ul class='list-group' id='Unknown'>");
                    ul2.append("<li class='list-group-item'>" + "Nombre de places : " + data["NbPlaces"] + "</li>");
                    div2.append(ul2);
                    div3 = $("<div>");
                    div3.append(div);
                    div3.append(div2);
                    li.append(div3);
                    $('#available_stades').append(li);
                }
            });
        });
    });

    $("#yourStades").on("click", ".deletebutton", function (evt) {
        var evt = window.event || evt;
        if (!evt.target) evt.target = evt.srcElement;
        //evt.target.parentNode.parentNode.parentNode.remove();
        $.ajax({
            type: 'post',
            data: { 'Name': evt.target.parentNode.firstElementChild.textContent },
            url :'@Url.Action("DeleteStade","Stade")',
            success: function () {
                evt.target.parentNode.parentNode.remove();
            }
        });
    });

    $("#yourStades").on("click", ".modifystade", function (evt) {
            $('#newstade').show();

            var evt = window.event || evt;
            if (!evt.target) evt.target = evt.srcElement;
            var nodeEl = evt.target
            var str = evt.target.parentNode.firstElementChild.textContent;
            $('#stadeName').val(str);
            $('#stadeNbPlaces').val('');
            
            evt.target = $('#stadeName').focus();

            $('#submitNewStade').click(function () {
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("ModifyStade","Stade")',
                    data: { 'Name': str, 'NewName': $('#stadeName').val(), 'NbPlaces': $('#stadeNbPlaces').val()},
                    success: function (data) {
                        nodeEl.parentNode.firstElementChild.textContent = $('#stadeName').val();
                        var uls = document.getElementById(str).getElementsByTagName('li');
                        if ($('#stadeNbPlaces').val() != '') {
                            uls[0].textContent = " Nombre de places: " + $('#stadeNbPlaces').val();
                        }
                        $('#newstade').hide();

                    }
                });
            });
     });

    
</script>